# Virtual environments
venv/
.env/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Databases / generated artifacts
*.db
*.sqlite
*.sqlite3

# OS
.DS_Store
Thumbs.db

# Created by venv; see https://docs.python.org/3/library/venv.html